<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>{% block title %}Home{% endblock %} - RandomMeal</title>
        
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,light,regular,bold' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/text.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/style.css" />
        
    </head>

    <body>
    
        <h1><a href="/">RandomMeal</a></h1>
        <div id="header-divider"></div>
        
        <div id="content-wrapper">
        {% block main %}{% endblock %}
        </div>
        
        <script type="text/javascript" src="{{ MEDIA_URL }}js/mt/mootools-core.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/mt/mootools-more.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/custom-range-events.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/filter-selector.js"></script>
    </body>
</html>